/* Block: main-bookslist */
.bookslist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.bookslist ul {
  list-style-type: none;
  padding: 0;
}

.bookslist li {
  background-color: antiquewhite;
  margin-bottom: 10px;
  font-size: 18px;
  width: 50vw;
  text-align: center;

  white-space: nowrap; /* 文字を1行に制限 */

  display: flex;
  justify-content: space-between; /* 両端に要素を配置 */
  align-items: center; /* アイテムを垂直方向に中央揃え */
}
a {
  text-decoration: none;
}
.title {
  overflow: hidden; /* 溢れた文字を隠す */
  text-overflow: ellipsis; /* 溢れた部分を省略記号(...)で表示 */
}
